xml/schema/logixng/logixng-4.13.4.xsd

<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="../schema2xhtml.xsl" type="text/xsl"?>

<!-- This schema is part of JMRI. Copyright 2018.                           -->
<!--                                                                        -->
<!-- JMRI is free software; you can redistribute it and/or modify it under  -->
<!-- the terms of version 2 of the GNU General Public License as published  -->
<!-- by the Free Software Foundation. See the "COPYING" file for a copy     -->
<!-- of this license.                                                       -->
<!--                                                                        -->
<!-- JMRI is distributed in the hope that it will be useful, but WITHOUT    -->
<!-- ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or  -->
<!-- FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License  -->
<!-- for more details.                                                      -->

<!-- This file contains definitions for LogixNG, Expressions and Actions,  -->
<!-- since they are so intimately coupled -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xsi ="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:docbook="http://docbook.org/ns/docbook"
           xmlns:jmri="http://jmri.org/xml/schema/JMRIschema"
           xsi:schemaLocation="
                http://jmri.org/xml/schema/JMRIschema http://jmri.org/xml/schema/JMRIschema.xsd
                http://docbook.org/ns/docbook http://jmri.org/xml/schema/docbook/docbook.xsd
            "
        >

    <xs:complexType name="LogixNGManagerType">
      <xs:annotation>
        <xs:documentation>
          Define the XML stucture for storing the contents of a LogixNGManager implementation.
        </xs:documentation>
        <xs:appinfo>
            <jmri:usingclass configurexml="true">jmri.jmrit.logixng.engine.configurexml.DefaultLogixNGManagerXml</jmri:usingclass>
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        
        <xs:element name="logixng" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="systemName" type="systemNameType" minOccurs="1" maxOccurs="1"/>
              <xs:element name="userName" type="userNameType" minOccurs="0" maxOccurs="1"/>
              <xs:element name="comment" type="commentType" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="logixConditional" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="systemName" type="systemNameType" use="required" />
                  <xs:attribute name="order" type="xs:nonNegativeInteger" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="enabled" type="yesNoType" />
          </xs:complexType>
        </xs:element>
            
      </xs:sequence>
      <xs:attribute name="class" type="classType" use="required"/>
    </xs:complexType>



    <xs:complexType name="LogixNGActionManagerType">
      <xs:annotation>
        <xs:documentation>
          Define the XML stucture for storing the contents of a ActionManager implementation.
        </xs:documentation>
        <xs:appinfo>
            <jmri:usingclass configurexml="true">jmri.jmrit.logixng.engine.configurexml.DefaultActionManagerXml</jmri:usingclass>
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        
        <!-- Permit any of these tags in any order in any number -->
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="action-many" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="systemName" type="systemNameType" minOccurs="1" maxOccurs="1"/>
                  <xs:element name="userName" type="userNameType" minOccurs="0" maxOccurs="1"/>
                  <xs:element name="comment" type="commentType" minOccurs="0" maxOccurs="unbounded"/>
                  <xs:element name="actions" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="socketName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="systemName" type="systemNameType" minOccurs="0" maxOccurs="unbounded"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="enabled" type="yesNoType" />
                <xs:attribute name="class" type="classType" use="required"/>
              </xs:complexType>
            </xs:element>
            
            <xs:element name="action-hold-anything" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="systemName" type="systemNameType" minOccurs="1" maxOccurs="1"/>
                  <xs:element name="userName" type="userNameType" minOccurs="0" maxOccurs="1"/>
                  <xs:element name="comment" type="commentType" minOccurs="0" maxOccurs="unbounded"/>
                  <xs:element name="items" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:attribute name="socketClass" type="systemNameType" use="required" />
                      <xs:attribute name="systemName" type="systemNameType" use="required" />
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="enabled" type="yesNoType" />
                <xs:attribute name="class" type="classType" use="required"/>
              </xs:complexType>
            </xs:element>
            
            <xs:element name="action-if-then" minOccurs="0" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="systemName" type="systemNameType" minOccurs="1" maxOccurs="1"/>
                  <xs:element name="userName" type="userNameType" minOccurs="0" maxOccurs="1"/>
                  <xs:element name="comment" type="commentType" minOccurs="0" maxOccurs="unbounded"/>
                  <xs:element name="if-systemName" type="systemNameType" minOccurs="0" maxOccurs="1"/>
                  <xs:element name="then-systemName" type="systemNameType" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute name="type" use="required">
                  <xs:simpleType>
                    <xs:restriction base="xs:token">
                      <xs:enumeration value="TRIGGER_ACTION"/>
                      <xs:enumeration value="CONTINOUS_ACTION"/>
                    </xs:restriction>
                  </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="enabled" type="yesNoType" />
                <xs:attribute name="class" type="classType" use="required"/>
              </xs:complexType>
            </xs:element>
          </xs:choice>
      </xs:sequence>
      <xs:attribute name="class" type="classType" use="required"/>
    </xs:complexType>


    <xs:complexType name="LogixNGExpressionManagerType">
      <xs:annotation>
        <xs:documentation>
          Define the XML stucture for storing the contents of a ActionManager implementation.
        </xs:documentation>
        <xs:appinfo>
            <jmri:usingclass configurexml="true">jmri.jmrit.logixng.engine.configurexml.DefaultActionManagerXml</jmri:usingclass>
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        
        <xs:element name="expression" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="systemName" type="systemNameType" minOccurs="1" maxOccurs="1"/>
              <xs:element name="userName" type="userNameType" minOccurs="0" maxOccurs="1"/>
              <xs:element name="comment" type="commentType" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="logixConditional" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="systemName" type="systemNameType" use="required" />
                  <xs:attribute name="order" type="xs:nonNegativeInteger" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="enabled" type="yesNoType" />
            <xs:attribute name="class" type="classType" use="required"/>
          </xs:complexType>
        </xs:element>
            
      </xs:sequence>
      <xs:attribute name="class" type="classType" use="required"/>
    </xs:complexType>



    <xs:complexType name="LogixNGAnalogActionManagerType">
      <xs:annotation>
        <xs:documentation>
          Define the XML stucture for storing the contents of a ActionManager implementation.
        </xs:documentation>
        <xs:appinfo>
            <jmri:usingclass configurexml="true">jmri.jmrit.logixng.engine.configurexml.DefaultActionManagerXml</jmri:usingclass>
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        
        <xs:element name="analogAction" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="systemName" type="systemNameType" minOccurs="1" maxOccurs="1"/>
              <xs:element name="userName" type="userNameType" minOccurs="0" maxOccurs="1"/>
              <xs:element name="comment" type="commentType" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="logixConditional" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="systemName" type="systemNameType" use="required" />
                  <xs:attribute name="order" type="xs:nonNegativeInteger" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="enabled" type="yesNoType" />
            <xs:attribute name="class" type="classType" use="required"/>
          </xs:complexType>
        </xs:element>
            
      </xs:sequence>
      <xs:attribute name="class" type="classType" use="required"/>
    </xs:complexType>


    <xs:complexType name="LogixNGAnalogExpressionManagerType">
      <xs:annotation>
        <xs:documentation>
          Define the XML stucture for storing the contents of a ActionManager implementation.
        </xs:documentation>
        <xs:appinfo>
            <jmri:usingclass configurexml="true">jmri.jmrit.logixng.engine.configurexml.DefaultActionManagerXml</jmri:usingclass>
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        
        <xs:element name="analogExpression" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="systemName" type="systemNameType" minOccurs="1" maxOccurs="1"/>
              <xs:element name="userName" type="userNameType" minOccurs="0" maxOccurs="1"/>
              <xs:element name="comment" type="commentType" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="logixConditional" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="systemName" type="systemNameType" use="required" />
                  <xs:attribute name="order" type="xs:nonNegativeInteger" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="enabled" type="yesNoType" />
            <xs:attribute name="class" type="classType" use="required"/>
          </xs:complexType>
        </xs:element>
            
      </xs:sequence>
      <xs:attribute name="class" type="classType" use="required"/>
    </xs:complexType>



    <xs:complexType name="LogixNGStringActionManagerType">
      <xs:annotation>
        <xs:documentation>
          Define the XML stucture for storing the contents of a ActionManager implementation.
        </xs:documentation>
        <xs:appinfo>
            <jmri:usingclass configurexml="true">jmri.jmrit.logixng.engine.configurexml.DefaultActionManagerXml</jmri:usingclass>
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        
        <xs:element name="stringAction" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="systemName" type="systemNameType" minOccurs="1" maxOccurs="1"/>
              <xs:element name="userName" type="userNameType" minOccurs="0" maxOccurs="1"/>
              <xs:element name="comment" type="commentType" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="logixConditional" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="systemName" type="systemNameType" use="required" />
                  <xs:attribute name="order" type="xs:nonNegativeInteger" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="enabled" type="yesNoType" />
            <xs:attribute name="class" type="classType" use="required"/>
          </xs:complexType>
        </xs:element>
            
      </xs:sequence>
      <xs:attribute name="class" type="classType" use="required"/>
    </xs:complexType>


    <xs:complexType name="LogixNGStringExpressionManagerType">
      <xs:annotation>
        <xs:documentation>
          Define the XML stucture for storing the contents of a ActionManager implementation.
        </xs:documentation>
        <xs:appinfo>
            <jmri:usingclass configurexml="true">jmri.jmrit.logixng.engine.configurexml.DefaultActionManagerXml</jmri:usingclass>
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        
        <xs:element name="stringExpression" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="systemName" type="systemNameType" minOccurs="1" maxOccurs="1"/>
              <xs:element name="userName" type="userNameType" minOccurs="0" maxOccurs="1"/>
              <xs:element name="comment" type="commentType" minOccurs="0" maxOccurs="unbounded"/>
              <xs:element name="logixConditional" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="systemName" type="systemNameType" use="required" />
                  <xs:attribute name="order" type="xs:nonNegativeInteger" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="enabled" type="yesNoType" />
            <xs:attribute name="class" type="classType" use="required"/>
          </xs:complexType>
        </xs:element>
            
      </xs:sequence>
      <xs:attribute name="class" type="classType" use="required"/>
    </xs:complexType>









    <xs:complexType name="DANIEL____ConditionalManagerType">
      <xs:annotation>
        <xs:documentation>
          Define the XML stucture for storing the contents of a ConditionalManager implementation.
        </xs:documentation>
        <xs:appinfo>
            <jmri:usingclass configurexml="true">jmri.managers.DefaultConditionalManagerXml</jmri:usingclass>
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        
        <xs:element name="conditional" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="systemName" type="systemNameType" minOccurs="0" maxOccurs="1"/>
              <xs:element name="userName" type="userNameType" minOccurs="0" maxOccurs="1"/>
              <xs:element name="conditionalStateVariable" minOccurs="0" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:attribute name="operator" type="xs:integer" use="required" />
                  <xs:attribute name="negated" type="yesNoType" default="no" />
                  <xs:attribute name="type" type="xs:integer" use="required" />
                  <xs:attribute name="systemName"  use="required">
                    <xs:simpleType>
                      <xs:annotation><xs:documentation>Allow user names, empty string and single space, emitted by old code</xs:documentation></xs:annotation>
                      <xs:union>
                        <xs:simpleType>
                          <xs:restriction base="systemNameType" />
                        </xs:simpleType>
                        <xs:simpleType>
                          <xs:restriction base="userNameType" />
                        </xs:simpleType>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value=" "/>
                            <xs:enumeration value=""/>
                          </xs:restriction>  
                        </xs:simpleType>
                      </xs:union>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="dataString" type="xs:string" use="required" />
                  <xs:attribute name="num1" type="xs:integer" use="required" />
                  <xs:attribute name="num2" type="xs:integer" use="required" />
                  <xs:attribute name="triggersCalc" type="yesNoType" default="yes" />
                </xs:complexType>
              </xs:element>
              <xs:element name="conditionalAction" minOccurs="0" maxOccurs="unbounded" >
                <xs:complexType>
                  <xs:attribute name="option" type="xs:integer" use="required" />
                  <xs:attribute name="type" type="xs:integer" use="required" />
                  <xs:attribute name="systemName"  use="required">
                    <xs:simpleType>
                      <xs:annotation><xs:documentation>Allow user names, single or empty space, emitted by old code</xs:documentation></xs:annotation>
                      <xs:union>
                        <xs:simpleType>
                          <xs:restriction base="systemNameType" />
                        </xs:simpleType>
                        <xs:simpleType>
                          <xs:restriction base="userNameType" />
                        </xs:simpleType>
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value=" "/>
                            <xs:enumeration value=""/>
                          </xs:restriction>  
                        </xs:simpleType>
                      </xs:union>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="data" type="xs:string" use="required" />
                  <xs:attribute name="delay" type="xs:integer" use="required" />
                  <xs:attribute name="string" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="systemName" type="systemNameType">
                <xs:annotation><xs:documentation>Deprecated 2.9.6 in favor of separate element</xs:documentation></xs:annotation>
            </xs:attribute>
            <xs:attribute name="userName" type="nullUserNameType">
                <xs:annotation><xs:documentation>Deprecated 2.9.6 in favor of separate element</xs:documentation></xs:annotation>
            </xs:attribute>
            <xs:attribute name="antecedent" type="xs:string" />
            <xs:attribute name="logicType" type="xs:integer" />
            <xs:attribute name="triggerOnChange" type="xs:string" />
          </xs:complexType>
        </xs:element>
            
      </xs:sequence>
      <xs:attribute name="class" type="classType" use="required"/>
    </xs:complexType>

</xs:schema>
